@import "vars";
@import "mixins/icons";
@import "mixins/base";
@import "../fonts/Geometria/geometria";

.button_text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
}
