$Geometria: Geometria, sans-serif;
$transition: all 0.5s;

$black-dark: #0e0e0e;
$black-light: #1c1c1b;
$gray-dark: #6c6c6c;
$gray-light: #bbbbbb;

$white-light: #ffffff;
$white-dark: #f0f0f0;

$orange-dark: #c0965c;

// icons
$icons-default-color: black;


