@mixin icon($color: $icons-default-color, $width: 0, $height: 0) {
  display: block;
  color: $color;

  @if $width != 0 {
    width: $width;
  }

  @if $height == 0 & $width != 0 {
  height: $width;
}

  @if $height != 0 {
    height: $height;
  }
}
